{% extends 'core/base.html' %}
{% block content %} 
{% load static %}

<style>
    body {
        margin: 0;
        background: #E8DAEF ;
        font-family: 'Work Sans', sans-serif;
        font-weight: 800;
    }
    .lineaHorizontal {
        height: 5px;
        background-color: #4A235A;
        color: #4A235A;
    }
    .Texto {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 40px;
    }

    .Fondo {
        background-color: #F5EEF8;
        padding: 100px;
        position: relative;
    }
    .logo {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 0;
        max-width: 150px;
        border-radius: 100%;
    }

    .logo img {
        display: block;
        width: 100%;
    }
    .container {
        max-width: 700px; /* Ajusta el ancho del contenedor principal */
        margin: 50px auto;
    }

    .card {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-control {
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .btn {
        width: 100%;
        padding: 12px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(187, 143, 206);
        color: white;
        box-sizing: border-box;
    }

    .btn:hover {
        background-color: rgb(142, 68, 173 );
    }
    
</style>

<hr class="lineaHorizontal">
<div class="Fondo">
    <div class="Texto">
        <h3>Editar Animal</h3>
    </div>
    <img class="logo" src="{% static 'core/img/Logo H.png' %}" alt="Logo">
</div>
<hr class="lineaHorizontal">

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Edición de mascotas</h2>
            <div class="card">
                <div class="card-body">
                    <form id="formularioAnimales" action="/edicionAnimal/" enctype="multipart/form-data" method="POST"> 
                        {% csrf_token %}
                        <input type="hidden" name="idAnimal" value="{{animal.idAnimal}}">
                        <div class="form-group">
                            <input type="text" id="txtNombre" name="txtNombre" value="{{animal.nombre}}" class="form-control" minlength="3" maxlength="30" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtRaza" name="txtRaza" class="form-control" value="{{animal.raza}}" minlength="3" maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="estadoActual">Elija una opción</label>
                            <select class="form-control" id="estadoActual" name="estadoActual">
                                <option>Adoptado</option>
                                <option>No Adoptado</option>
                            </select>
                            <input type="hidden" id="estadoActualHidden" name="estadoActualHidden" value="{{animal.estadoActual}}">
                        </div>
                        <script>
                            document.getElementById('estadoActual').addEventListener('change', function() {
                                if (this.value === 'No Adoptado') {
                                    document.getElementById('estadoActualHidden').value = 'false';
                                } else {
                                    document.getElementById('estadoActualHidden').value = 'true';
                                }
                            });
                        </script>
                        <div class="form-group">
                            <input type="text" id="txtEstadoSalud" name="txtEstadoSalud" class="form-control" value="{{animal.estadoSalud}}" minlength="3" maxlength="30">
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtUbicacion" name="txtUbicacion" class="form-control" value="{{animal.ubicacion}}" minlength="3" maxlength="30">
                        </div>
                        <div class="form-group">
                            <input type="date" name="FechaRescate" class="form-control" value="{{animal.fechaRescate}}">
                        </div>
                        <div class="form-group">
                            <input type="date" name="FechaAdopcion" class="form-control" value="{{animal.fechaAdopcion}}">
                        </div>
                        <div class="form-group">
                            <input type="number" id="txtNumeroContacto" name="txtNumeroContacto" class="form-control" value="{{animal.numeroContacto}}">
                        </div>
                        <div class="form-group">
                            {{animal.imagenAnimal.errors}}
                            <input type="file" id="imagenAnimal" name="imagenAnimal" class="form-control-file" value="{{animal.imagenAnimal}}">
                            <label for="imagenAnimal" class="mb-1">Imagen Animalito</label>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Guardar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
